<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasa Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div id="chatbot"></div>
            <input type="text" id="userInput" placeholder="Type a message..." onkeypress="if(event.key === 'Enter') sendMessage()">
            <div class="bottom-buttons">
                <button onclick="sendMessage()" class="bottom-button">Send</button>
                <button onclick="resetChat()" class="bottom-button">Reset</button>
                <button onclick="downloadLog()" class="bottom-button">Download Log</button>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Image" id="chatbot-image">
        </div>
    </div>
    <script>
        // window.onload = function() {
        //     // Send the /restart message to reset the chat
        //     fetch('/send_message', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/json' },
        //         body: JSON.stringify({ message: '/restart' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log('Chat reset successful');
                
        //         // Send the "hi" message to the Rasa server as user input
        //         return fetch('/send_message', {
        //             method: 'POST',
        //             headers: { 'Content-Type': 'application/json' },
        //             body: JSON.stringify({ message: 'hi' })
        //         });
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log('Message "hi" sent successfully');
        //     })
        //     .catch(error => {
        //         console.error('Error sending message:', error);
        //     });
        // };
        const defaultImageUrl = "{{ url_for('static', filename='images/default.jpg') }}";
        const kingCasparImageUrl = "https://upload.wikimedia.org/wikipedia/commons/e/e5/Hendrick-Heerschop-Koning-Caspar-1654.-Olieverf-op-paneel.-Berlijn-Staatliche-Museen.jpg";
        const turbanBoyImageUrl = "https://upload.wikimedia.org/wikipedia/commons/9/9b/Portrait_of_a_Boy%2C_Gerrit_Dou%2C_c._1630%2C_oil_on_panel%2C_42_by_33.5_cm%2C_Nieders%C3%A4chsisches_Landesmuseum_Hanover.jpg";
        const diegoBembaImageUrl = "https://upload.wikimedia.org/wikipedia/commons/0/01/KMS9_Ubekendt_-_Diego_Bemba%2C_a_Servant_of_Dom_Miguel_de_Castro_-_KMS9_-_Statens_Museum_for_Kunst.jpg";
        const pedroSundaImageUrl = "https://upload.wikimedia.org/wikipedia/commons/6/62/KMS8_Ubekendt_-_Pedro_Sunda%2C_a_Servant_of_Dom_Miguel_de_Castro_-_KMS8_-_Statens_Museum_for_Kunst.jpg";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://unpkg.com/html2json"></script>
</body>
</html>
