<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rasa Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div id="chatbot"></div>
            <input type="text" id="userInput" placeholder="Type a message..." onkeypress="if(event.key === 'Enter') sendMessage()">
            <div class="bottom-buttons">
                <button onclick="sendMessage()" class="bottom-button">Send</button>
                <button onclick="resetChat()" class="bottom-button">Reset</button>
                <button onclick="downloadLog()" class="bottom-button">Download Log</button>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Image" id="chatbot-image">
        </div>
    </div>
    <script>
        // window.onload = function() {
        //     fetch('/send_message', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/json' },
        //         body: JSON.stringify({ message: '/restart' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log('Chat reset successful');
        //     })
        //     .catch(error => {
        //         console.error('Error resetting chat:', error);
        //     });
        // };
        const defaultImageUrl = "{{ url_for('static', filename='images/default.jpg') }}";
        const kingCasparImageUrl = "{{ url_for('static', filename='images/kingcaspar.jpeg') }}";
        const turbanBoyImageUrl = "{{ url_for('static', filename='images/headofboyinturban.jpeg') }}";
        const diegoBembaImageUrl = "{{ url_for('static', filename='images/default.jpg') }}";
        const pedroSundaImageUrl = "{{ url_for('static', filename='images/default.jpg') }}";
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://unpkg.com/html2json"></script>
</body>
</html>
